@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
  overflow: hidden;
  font-family: "Press Start 2P";
}

canvas {
  z-index: 0;
  display: block;
  position: relative;
}

.hidden {
  display: none !important;
}

.overlay {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  // height: 100vh;
  // width: 100vw;
}

button {
  padding: 30px;
  border-radius: 5px;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  height: 100vh;
  width: 300px;
  justify-content: space-around;

  div {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
